<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>分类界面孕婴护理图标</string>
		<key>content</key>
		<string>孕婴护理</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面t区黑头图标</string>
		<key>content</key>
		<string>T区黑头</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面敏感肌肤图标</string>
		<key>content</key>
		<string>敏感肌肤</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面提升紧致图标</string>
		<key>content</key>
		<string>提升紧致</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面清痘去印图标</string>
		<key>content</key>
		<string>清痘去印</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面抗氧防衰图标</string>
		<key>content</key>
		<string>抗氧防衰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面淡斑亮白图标</string>
		<key>content</key>
		<string>淡斑亮白</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>分类界面补水保湿图标</string>
		<key>content</key>
		<string>补水保湿</string>
	</dict>
</array>
</plist>
