<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classes</key>
		<array>
			<dict>
				<key>icon</key>
				<string>分类界面补水保湿图标</string>
				<key>content</key>
				<string>补水保湿</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面唇膏图标</string>
				<key>content</key>
				<string>界面唇膏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面抗氧防衰图标</string>
				<key>content</key>
				<string>分类界面抗氧防衰图标</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面口腔洁牙图标</string>
				<key>content</key>
				<string>分类界面口腔洁牙图标</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>功效专区</string>
	</dict>
	<dict>
		<key>classes</key>
		<array>
			<dict>
				<key>icon</key>
				<string>分类界面补水保湿图标</string>
				<key>content</key>
				<string>补水保湿</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面唇膏图标</string>
				<key>content</key>
				<string>界面唇膏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面抗氧防衰图标</string>
				<key>content</key>
				<string>抗氧防衰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面口腔洁牙图标</string>
				<key>content</key>
				<string>口腔洁牙</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>面部专区FACE</string>
	</dict>
	<dict>
		<key>classes</key>
		<array>
			<dict>
				<key>icon</key>
				<string>分类界面补水保湿图标</string>
				<key>content</key>
				<string>补水保湿</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面唇膏图标</string>
				<key>content</key>
				<string>界面唇膏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面淡斑亮白图标</string>
				<key>content</key>
				<string>淡斑亮白</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>分类界面抗氧防衰图标</string>
				<key>content</key>
				<string>分类界面抗氧防衰图标</string>
			</dict>
		</array>
		<key>sectionTitle</key>
		<string>身体专区BODY</string>
	</dict>
</array>
</plist>
